.container {
	text-align: center;
	padding-top: 2vh;
}

.square {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	width: 6vw;
	height: 6vw;
	display: inline-block;
}
.square.white {
	background-color: white;
}

.square.black {
	background-color: #660000;
}

.square.from {
	background-color: blue;
}

.square.to {
	background-color: green;
}

img {
	height: 6vw;
	/*padding-top: 1vw;*/
}

button {
	margin-top: 10px;
}