/*Main sections*/
.container-fluid {
	padding-top: 20px;
	padding-right: 25px;
}
.well {
	float: right;
}
.board-container {
	text-align: center;
	padding: 2vh;
	display: inline-block;
	float: left;
	width: 60%;
}
#chessboard {
	display: none;
}
#initial {
	
}
/*.chat-container {
	text-align: left;
	display: inline-block;
	float: right;
	padding: 2vh;
	border-left-style: solid; 
	border-width: 2px;
	border-color: black;
	width: 30%;
}*/
/*END - Main sections*/

/*Chess Game*/
.square {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	width: 5vw;
	height: 5vw;
	display: inline-block;
}
.square.white {
	background-color: white;
}

.square.black {
	background-color: #660000;
}

.square.from {
	background-color: #337ab7;
}

.square.to {
	background-color: #5cb85c;
}
.square.taken {
	background-color: #d9534f;
}

img {
	height: 5vw;
	vertical-align: text-bottom;
	/*padding-top: 1vw;*/
	z-index: 100;
	position: relative;
}

button {
	margin-top: 10px;
}
/*END - Chess game*/

/*Chat*/
#users {
	padding-bottom: 2vw;
	height: 12vw;
	margin-bottom: 30px;
}
#user-cont {
	overflow: auto;
	height: inherit;
}
#message-cont {
	overflow: auto;
	height: inherit;
}
#online-list {
	padding-top: 5px;
	padding-left: 0;
}
#online-list li {
	list-style: none;
}

#messages {
	padding-bottom: 2vw;
	height: 20vw;
	margin-bottom: 30px;
}
#write {
	height: 6vw;
}
.header {
	height: 24px;
	border-bottom-style: solid;
	border-color: black;
	border-width: 2px;
}
.header h3 {
	margin-top: 0px;
}

.input-group {
	margin-top: 10px;
	padding: 2px;
	width: 100%;
}
#message-list {
	padding-top: 5px;
	padding-left: 0;
}
#message-list li {
	list-style: none;
	padding: 2px;
}
.btn-black {
	color: #fff;
	background-color: #111;
	border-color: #ccc;
}
.btn-white {
	color: #000;
	background-color: #fff;
	border-color: #111;
}